/target/
inputs/
issuesReport.json
javabuild
shippable/
tidyup.compiled
tidyup.consistency.stderr
tidyup.consistencycheck
tidyup.docbook
tidyup.html
tidyup.objlist
tidyup.objlist.html
tidyup.pdf
tidyup.pics/
tidyup.rich
tidyup.richescape
tidyup.tabled.docbook
tidyup.tabled.html
testcases.txt
testcases.xml
tidyup.interfaces
tidyup.stubs
tidyup.testdata
tidyup.zenta.bak
/tidyup/
zentaworkaround
.attach*
.pmd
.pmd
